* {
  font-family: 'Noto Sans';
  box-sizing: border-box;
  /* border: 1px black solid; */
}

html {
  font-size: 15px;
}

body {
  background-color: #FFFFFF;
  color: #22162B;
}

.page-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 1200px;
  align-content: center;
}

a {
  text-decoration: none;
}


/* All styles below this line relate to the header */
/*                        */
/*                       */
/*                      */
/*                     */

header {
  margin: auto;
  width: auto;
  height: 200px;
  text-align: center;
}

header h1 {
  color: #D17A22;
  font-size: 2.2em;
  letter-spacing: .15em;
}

header h3 {
  color: #22162B;
  font-size: 1.2em;
  letter-spacing: .1em;
}

/* header-text style is to vertically center the two elements within the header */
/*                        */
/*                       */
/*                      */
/*                     */

.header-text {
  margin: 2px; 
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* All styles below this line relate to the nav */
/*                        */
/*                       */
/*                      */
/*                     */

.nav-container {
  width: auto;
  height: auto;
  padding: 5px 5px 50px 5px;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.nav-item, .panel-title {
  color: #5B7553;
  border-bottom: 1px solid #D17A22;
}

.nav-item:hover, a:hover {
  color: #D17A22 !important;
  border-bottom: 1px solid #5B7553 !important;
}



a:visited {
  color: #5B7553;
  border-bottom: 1px solid #D17A22;
}

a {
  color: #5B7553;
  border-bottom: 1px solid #D17A22;
}

a:hover {
  color: #D17A22 !important;
  border-bottom: 1px solid #5B7553 !important;
}

/* All styles below this line relate to the main panel (images) */
/*                        */
/*                       */
/*                      */
/*                     */

.panel-container {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
}

.panel-img {
  object-fit: cover;
  width: 100%;
  height: 90%;
  border: 1px solid #5B7553;
}

.panel-item {
  height: 50vw;
  width: 30%;
}

.panel-img, a:hover {
  border-bottom: none !important;
}

.panel-title {
  width: auto;
  height: 10%;
  text-align: center;
  padding-top: 4px;
  
}

/* All styles below this line relate to the main section (text) */
/*                        */
/*                       */
/*                      */
/*                     */

.blog-title {
  font-size: 1.5em;
  /* border-bottom: 1px grey solid; */
  padding: 3vh;
  color: #6193ad;
  text-align: center;
  letter-spacing: .1em;
}

.main-section-title {
  color: #D17A22;
  padding-left: 15px;
  letter-spacing: .1em;
}

#blog-link-section {
  text-align: center;
}

.main-section {
  margin: 5vh 0vh 2vh 0vh;
  color: #22162B;
  padding: 0vw 12vw 1vw 12vw;
  text-align: justify;
  word-spacing: .2em;
  line-height: 30px;
}

#blog-summary {
  padding: 0vw 9vw 4vw 9vw;
  font-size: 1.2em;
  line-height: 40px;
  color: #22162B;
}

.code-snippet-container {
  display: grid;
  place-items: center;
}

.code-snippet {
  margin: 4vw auto;
  border: 1px solid grey;
  box-shadow: 2px 3px grey;
  height: auto;
  width: 75vw;
  max-width: 600px;
}

ul {
  margin: 2vw 0vw 4vw 0vw;
}

.italic-bold-blue {
  color: #6193ad;
  font-weight: bold;
  font-style: italic;
}


/* Media Queries!          */
/*                        */
/*                       */
/*                      */
/*                     */



/* Tablet and smaller */

@media only screen and (max-width: 768px) {

  html {
    font-size: 14px;
  }

  header h1 {
    font-size: 1.9em;
    letter-spacing: .1em;
  }
  
  header h3 {
    font-size: 1.3em;
  }

  .panel-container {
  padding: 5vw 0;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.panel-img {
  object-fit: cover;
  width: 100%;
  height: 90%;
  object-position: bottom 10%;
}
.panel-item {
  height: 110vw;
  width: 80%;
}

.panel-title {
  width: auto;
  height: 6vw;
  text-align: center;
  padding-top: 10px;
  
}
}




/* Mobile (420px) and smaller */

@media only screen and (max-width: 420px) {
  html {
    font-size: 12px;
  }

  header h1 {
    padding: 0px 10px 0px 10px;
    font-size: 2em;
    letter-spacing: .15em;
  }
  
  header h3 {
    padding: 0px 10px 0px 10px;
    font-size: 1.3em;
    letter-spacing: .1em;
  }

  .nav-item {
    font-size: .9em;
  }

}